.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  background-color: #f8f9fa;
}

.Inserts {
  display: inline-block;
  margin: 25px;
}

.Button {
  margin-bottom: 10px;
}
.ListContainer {
  background-color: #dee2e6;
  height: 150px;
  width: 150px;
  overflow: scroll;
}

.ListCounter {
  color: #3f51b5;
  margin-right: 5px;
}

.ListItem:hover {
  background-color: #adb5bd;
}

.Results {
  display: inline-block;
}
